body {
  margin: 0px;
  max-width: 1440px;
  font-family: 'Manrope', sans-serif;
  /* font-size: 13px; */
  color: hsl(217, 19%, 35%);
}

main {
  display: flex;
  flex-direction: column;
}

.image-container {
  width: 100%;
  background-image: url('./images/drawers.jpg');
  background-position: 50% -20px;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 230px;
}

#intro {
  margin: 40px 30px;
}

.bottom {
  display: flex;
  padding: 10px 30px;
  height: 60px;
}

#contact {
  align-items: center;
}

#contact > .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#contact > article > p {
  margin: 0px 20px;
}

#contact > article > p:nth-child(1) {
  font-weight: 700;
}

.share-button {
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-width: 0px;
  border-style: none;
  border-radius: 35px;
}

#unshare-button {
  background: hsl(214, 17%, 51%);
}

#share-container {
  align-items: center;
  background-color: hsl(217, 19%, 35%);
}

#share-container > p {
  color: hsl(212, 23%, 69%);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 10px 20px 10px 0px;
}

#share-container a > img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  display: block;
}

#share-container a {
  display: inline-block;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  background-color: white;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.hidden {
  display: none;
}

/* button:hover,
button:focus {
    background: hsl(217, 19%, 35%);
} */

button:focus {
    outline: none;
}

/* button:active {
} */
