body {
  margin: 0px 0px 15px 0px;
  font-family: 'Manrope', sans-serif;
  color: hsl(217, 19%, 35%);
}

main {
  display: flex;
  flex-direction: column;
}

.main-container {
  position: relative;
}

.image-container {
  background-image: url('./images/drawers.jpg');
  background-position: 50% -20px;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 230px;
}

#intro {
  margin: 40px 30px;
}

.footnote {
  display: flex;
  padding: 10px 30px;
  height: 60px;
}

#contact {
  align-items: center;
}

#contact>.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#contact>article>p {
  margin: 0px 20px;
}

#contact>article>p:nth-child(1) {
  font-weight: 700;
}

.share-button {
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-width: 0px;
  border-style: none;
  border-radius: 35px;
}

#unshare-button {
  background: hsl(214, 17%, 51%);
}

#share-container {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 80px;
  bottom: 0px;
  align-items: center;
  background-color: hsl(217, 19%, 35%);
}

#share-container>p {
  color: hsl(212, 23%, 69%);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 10px 20px 10px 0px;
}

#share-container a>img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  display: block;
}

#share-container a {
  display: inline-block;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  background-color: white;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.hidden {
  display: none;
}

button:focus {
  outline: none;
}

@media screen and (min-width: 375px) {
  body {
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
  }

  main {
    flex-direction: row;
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .image-container {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .main-container {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #intro {
    margin: 20px 30px 0px 30px;
  }

  #intro p {
    font-size: 11px;
  }

  #intro h1 {
    padding: 0px 2px;
  }

  .image-container {
    width: 240px;
    height: initial;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }

  .main-container {
    background-color: white;
    width: 350px;
    position: relative;
  }

  .main-container > article > p {
    margin: 0px;
  }

  .footnote {
    padding: 10px 30px;
  }

  #contact>.avatar {
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }

  .share-button {
    width: 25px;
    height: 25px;
    border-radius: 25px;
  }

  .share-button img {
    width: 10px;
    height: 10px;
  }

  #share-container {
    position: absolute;
    border-radius: 10px;
    padding: 5px 5px;
    height: max-content;
    width: initial;
    top: 100px;
    left: 195px;
    box-sizing: content-box;
  }

  #share-container a>img {
    width: 15px;
    height: 15px;
    margin-right: 20px;
  }

  #share-container>p {
    letter-spacing: 5px;
    margin: 10px 20px;
  }

  #share-container #arrow {
    width: 0px;
    height: 0px;
    border-left: 12px solid transparent;
    border-top: 13px solid hsl(217, 19%, 35%);
    border-right: 12px solid transparent;
    position: absolute;
    margin-top: -2px;
    left: 100px;
    top: 49px;
  }

  #unshare-button {
    display: none;
  }
}